*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 370px;
    height: 500px;
    /* border: 1px solid red; */
    margin: auto;
}
.main{
    width: 350px;
    height: 450px;
    /* border: 1px solid green; */
    margin: auto;
    display: flex;
}
.div1{
    width: 170px;
    height: 430px;
    /* border: 1px solid blue; */
    background-color: aqua;
}
.div2{
    width: 170px;
    height: 430px;
    /* border: 1px solid purple; */
    background-color: aqua;
}
.grade{
    width: 170px;
    height: 50px;
    /* border: 1px solid purple; */
    background-color: aquamarine;
}
.point{
    font-size: 17px;
    /* text-align: center; */
    /* justify-content: center; */
    margin-top: 13px;
}
.comm{
    width: 170px;
    height: 50px;
    /* border: 1px solid purple; */
    background-color: aquamarine;
}
.comments{
    font-size: 17px;
    text-align: center;
    justify-content: center;
    margin-top: 13px;
}
.name{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.html{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.css{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.java{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.react{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.avg{
    width: 90px;
    height: 20px;
    margin-top: 20px;
    margin-left: 30px;
}
.pavg{
    width: 160px;
    height: 20px;
    margin-top: 10px;
}
.gd{
    width: 90px;
    height: 20px;
    margin-top: 10px;
    margin-left: 30px;
}
.pgd{
    width: 160px;
    height: 20px;
    margin-top: 10px;
}
.tot{
    width: 90px;
    height: 20px;
    margin-top: 10px;
    margin-left: 30px;
}
.ptot{
    width: 150px;
    height: 20px;
    margin-top: 10px;
}
.average{
    height: 30px;
    width: 100px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: black;
    font-size: 16px;
}
.average:hover{
    background-color: green;
   }
.grade-2{
    height: 30px;
    width: 100px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 2px;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: black;
    font-size: 16px;
}
.grade-2:hover{
    background-color: green;
   }
.total{
    height: 30px;
    width: 100px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 2px;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: black;
    font-size: 16px;
   }
   .total:hover{
    background-color: green;
   }


@media(min-width:400px){
    .container{
        width: 1300px;
        height: 650px;
}
.main{
    width: 1000px;
    height: 600px;
}
.div1{
    width: 500px;
    height: 550px;
}
.div2{
    width: 500px;
    height: 550px;
}
.grade{
    width: 500px;
    height: 80px;
    /* border: 1px solid purple; */
}
.point{
    font-size: 25px;
    text-align: center;
    justify-content: center;
    margin-top: 24px;
}
.comm{
    width: 500px;
    height: 80px;
    /* border: 1px solid purple; */
}
.comments{
    font-size: 25px;
    text-align: center;
    justify-content: center;
    margin-top: 24px;
}
.name{
    width: 365px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
}
.html{
    width: 365px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px
}
.css{
    width: 365px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px
}
.java{
    width: 365px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px
}
.react{
    width: 365px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px
}
.avg{
    width: 90px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
}
.pavg{
    width: 330px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
.gd{
    width: 90px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
.pgd{
    width: 330px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
.tot{
    width: 90px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
.ptot{
    width: 330px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
.grade-2{
    margin-left: 5px;
}
.average{
    margin-top: 10px;
    margin-left: 50px;
}
.total{
    margin-left: 5px;
}
}