*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 370px;
    height: 500px;
    border: 1px solid red;
}
.main{
    width: 350px;
    height: 450px;
    border: 1px solid green;
    margin: auto;
    display: flex;
}
.div1{
    width: 170px;
    height: 430px;
    border: 1px solid blue;
}
.div2{
    width: 170px;
    height: 430px;
    border: 1px solid purple;
}
.grade{
    width: 170px;
    height: 50px;
    border: 1px solid purple;
}
.point{
    font-size: 17px;
    text-align: center;
    justify-content: center;
    margin-top: 13px;
}
.comm{
    width: 170px;
    height: 50px;
    border: 1px solid purple;
}
.comments{
    font-size: 17px;
    text-align: center;
    justify-content: center;
    margin-top: 13px;
}
.name{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.html{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.css{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.java{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.react{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.avg{
    width: 90px;
    height: 20px;
    margin-top: 20px;
    margin-left: 30px;
}
.pavg{
    width: 160px;
    height: 20px;
    margin-top: 10px;
}
.gd{
    width: 90px;
    height: 20px;
    margin-top: 10px;
    margin-left: 30px;
}
.pgd{
    width: 160px;
    height: 20px;
    margin-top: 10px;
}
.tot{
    width: 90px;
    height: 20px;
    margin-top: 10px;
    margin-left: 30px;
}
.ptot{
    width: 150px;
    height: 20px;
    margin-top: 10px;
}


@media(min-width:400px){
    .container{
        width: 1300px;
        height: 650px;
}
.main{
    width: 1000px;
    height: 600px;
}
.div1{
    width: 500px;
    height: 550px;
}
.div2{
    width: 500px;
    height: 550px;
}
.grade{
    width: 500px;
    height: 80px;
    border: 1px solid purple;
}
.point{
    font-size: 25px;
    text-align: center;
    justify-content: center;
    margin-top: 24px;
}
.comm{
    width: 500px;
    height: 80px;
    border: 1px solid purple;
}
.comments{
    font-size: 25px;
    text-align: center;
    justify-content: center;
    margin-top: 24px;
}
.name{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
}
.html{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px
}
.css{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px
}
.java{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px
}
.react{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px
}
.avg{
    width: 90px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
}
.pavg{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
.gd{
    width: 90px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
.pgd{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
.tot{
    width: 90px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
.ptot{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
}